.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 12px 0;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
}

.user-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.user-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user {
  padding: 8px 16px;
}

.num-of-users {
  margin: 2px 2px 0 2px;
  padding: 2px 8px;
  border: 1px solid black;
  text-align: right;
}

.commands {
  height: 512px;
  width: fit-content;
  border: 1px solid black;
  overflow-y: auto;
}

th {
  text-align: left;
  border: 1px solid black;
  padding: 2px 8px;
}

td {
  text-align: left;
  border: 1px solid black;
  padding: 2px 8px;
}

#connected {
  background-color: rgb(149, 255, 149);
}

#disconnect {
  background-color: rgb(255, 130, 130);
}

#init,
#setUsername {
  background-color: rgb(156, 171, 187);
}
