<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io command logs</title>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
      <h1>Socket.io command logs</h1>
      <div class="user-info">
        <span id="num-of-user"> <%= numberOfUsers %> </span>
        <% users.forEach(user => { %> <%= user %> <% });%>
      </div>
    </div>
  </body>
</html>
